#服务器端口
server:
  port: 7001
ssl:
  client-auth: true
  keystore-path: identity.jks
  keystore-password: secret

spring:
  application:
    name: ${DDSTREAM_CLIENT_APPLICATION_NAME:DDStream-client}
  #注册中心
  cloud:
    consul:
      port: 8500
      #      host: 106.15.74.153
#      host: localhost
      discovery:
        scheme: https
        fail-fast: false
        hostname: 127.0.0.1
  web:
    resources:
      static-locations: file:./hls
  mvc:
    static-path-pattern: /hls/**

  #h2数据库
  datasource:
    driver-class-name: org.h2.Driver
    username: ${DDSTREAM_CLIENT_DATABASE_USERNAME:sa}
    url: jdbc:h2:./database/test
  h2:
    console:
      enabled: true
      path: /h2
  sql:
    init:
      mode: always
      data-locations: classpath:sql/init.sql
#健康检查指标
management:
  endpoints:
    web:
      exposure:
        include: metrics,health
    endpoint:
      health:
        show-details: always
#自定义
dd-stream:
  jwt-public-key: ${DDSTREAM_PUBLIC_KEY:MIGbMBAGByqGSM49AgEGBSuBBAAjA4GGAAQBISg60Dp+hcyNwDGK3DAuB+rE9SEEMvsMyGwzsJSPWOtVtVkf1js1U4/oCHziW2CXrGYk5QQcp8hJJmMrmulM1WUBrmiiMK8VK0J/0RRV8qx1JlWWCPuHnC4vof6biCnnPB+FDheZyqVyOKzx4DZ0Ypn61Szj1I8qmL25qpojz4yjB6M=}
  cloud:
    consul:
      discovery:
  #        auto-ip-address: true
